<head>
      <title>Calmcap</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- TODO add these as assets -->
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
   </head>
<nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Brands",   '#' %></li>
	<% @products.each do |product| %>
	  <ul>
	   <li><%= link_to product.brand %></li>
	  </ul>
	<% end %>
        <li><%= link_to "Models", '#' %></li>
	<% @products.each do |product| %>
	  <ul>
	   <li><%= link_to product.model %></li>
	  </ul>
	<% end %>
	<li><%= link_to "Price", '#' %></li>
	<% @products.each do |product| %>
	  <ul>
	   <li><%= link_to product.brand %></li>
	  </ul>
	<% end %>
      </ul>
    </nav>
            
